footer {
	background-color: rgba(0,0,0,0.1);
	padding: $padding--general $padding--small;
	i {
		color: $color--white;
		margin-right: $margin--small*0.5;
		&:last-child {
			margin-right: 0;
		}
	}
	i.inactive {
	  cursor: not-allowed;
	  color: rgba($color--white,0.3);
	}
	a {
		color: $color--white;
		&:hover {
			color: rgba($color--white, 0.5);
		}
		& i {
			transition: 0.3s;
			&:hover {
				color: rgba($color--white, 0.5);
			}	
		}
	}
}

.mol--unit-logo {
	padding-top: $padding--small;
	margin-bottom: $margin--small*3;
	 & img {
		width: 300px;
		margin-bottom: $margin--general;
	}
}

.mol--unit-contact {
	border-top: solid 1px $color--highlight-dark;
	padding-top: $padding--small;
	padding-bottom: $margin--small*3;
	color: white;
  	&:last-child {
  		margin-bottom: 0;
  	}
  	& h4 {
		@include headingUC;
		color: $color--secondary;
		font-size: 0.9rem;
		margin-bottom: 8px;
	}
	& span {
		font-size: 1.2rem;
	}
}

.mol--unit-disclaimer {
	& h6 {
		color: rgba($color--white, 0.2);
	}
	& p {
		font-size: 0.9rem;
		line-height: 1.2;
		color: rgba($color--white, 0.2);
	}
}

.mol--unit-copyright {
	margin-top: $margin--small;
	p.atm--copyright {
	 	color: rgba($color--white,0.2);
  		font-size: 1rem;
  		margin-bottom: 0;
	}
}

@media (min-width: $media-mobile) {
	footer {
		padding: $padding--general*2 0;
	}
}

@media (min-width: $media-tablet) {
	footer {
		padding: $padding--general*3 0;
	}
	.mol--unit-logo {
		border-top: solid 1px $color--highlight-dark;
	 	& img {
			margin-bottom: 0;
		}
	}
	.mol--unit-disclaimer {
		margin-top: $margin--large;
	}
}