header {
	background-color: $color--primary-dark;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	position:fixed; 
	top:0; 
	z-index:20;
	width:100%;
}

.sticky-header {
	position: fixed;
	top: 0;
	z-index: 500;
}

/* To include WordPress Admin */
.admin-bar .sticky-header {
	top: 32px;
}