header {
	background-color: $color--primary-dark;
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	position:fixed; 
	top:0; 
	z-index:20;
	width:100%;
}

@media(min-width:$media-mobile ) {
	.admin-bar header {
		top: 0;
	}
}

@media(min-width:$media-tablet ) {
	.admin-bar header {
		top: 42px;
	}
}

@media(min-width:$media-desktop ) {
	.admin-bar header {
		top: 32px;
	}
}