@media (max-width:$media-mobile) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

.mol--theme-light {
	background-color: $color--white;
	color: $color--primary; 
}

.mol--theme-dark {
	background-color: rgba(0,0,0,0.2);
	color: $color--white; 
}

// Page Builder - Full width image and logo
.block--half-container {
	position:relative;
	height: 520px;
	background-position:center;
	background-size:cover;
	box-shadow: inset 0 0 0 100vmax rgba(16,24,32,0.6);
}
.block--half-inner {
	position:absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%); 
	width: 70%;
	text-align: center;
}

// Page Builder - Callout
.block--callout {
	font-size: 1.6rem;
	line-height: 1.4;
	& .mol---block-callout {
		padding-top: $padding--xlarge;
		padding-bottom: $padding--xlarge;
	}
	& span {
		display: block;
		// margin-bottom: $margin--general;
	}
	& h2 {
		font-size: 2.8rem;
		margin-bottom: $margin--general;
	}
	& p {
		font-size: 1.2rem;
	}
}


// Page Builder - Block 50/50
.block--5050 {
	& .mol--5050 {
		max-width: 900px;
		padding: $padding--general $padding--small;
	}
	& h2 {
		font-size: 2.8rem;
		margin-bottom: $margin--general;
	}
	& p {
		font-size: 1.1rem;
		line-height: 1.6;
	}
}

// Page Builder - Team
.block--team {
	margin-bottom: $margin--xlarge;
	& .mol--unit-team {
		padding: $padding--general;
	}
	& h2 {
		font-family: $brand--font-reg;
		font-size: 2rem;
		margin-bottom: $margin--small;
	}
	& h4 {
		@include headingUC;
		margin-bottom: $margin--general;
		& a {
			color: $color--white;
			&:hover {
				color: rgba($color--white, 0.5);
			}
		}
		& i {
			margin-right: 10px;
		}
	}
	& p {
		font-size: 1.1rem;
		&.atm--intro {
			font-size: 1.2rem;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.atm--email {
			font-size: 1rem;
			& a {
				color: $color--white;
				text-decoration: underline;
				&:hover {
					color: rgba($color--white, 0.5);
				}
			}
		}
	}
}

@media (min-width: $media-tablet) {
	.block--half-container {
		height: 600px;
	}
	.block--5050 {
		& .mol--5050 {
			padding: $padding--xlarge;
		}
	}
}

@media (min-width: $media-xwide) {
	.block--half-container {
		height: 700px;
	}
	.mol---block-callout {
		padding-top: $padding--xxlarge;
		padding-bottom: $padding--xxlarge;
	}
}
